<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="bodyFirst">
        <img class="adorno" src="./../../../assets/adornoSuperiorDerechoFirs.png" alt="Imagen adorno plantas">

        <div>
            <img class="imagenProductos" src="./../../../assets/imagenProductos2.png" alt="imagenProductos">

        </div>

        <div class="right">
            <img class="cuidamosTuSalud" src="./../../../assets/cuidamosTuSalud.png" alt="Imagen cuidamos tu salud">
            <button class="botonesBarra">
                <p>Ver catalogo</p>
            </button>
        </div>
    </div>


</body>
</html>