<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bodyPostPadding">
        <img class="imagenTitulo" src="./../../../assets/catalogoTitulo.png" alt="">
    </div>


    <div class="presionables">
        <button class="botonesBarra">
            <img class="iconos" src="./../../../assets/semillasFrutosSecos.png" alt="">
        </button>
        <button class="botonesBarra">
            <img class="iconos" src="./../../../assets/sinGluten.png" alt="">
        </button>
        <button class="botonesBarra">
            <img class="iconos" src="./../../../assets/SnackSinAzucar.png" alt="">
        </button>
        <button class="botonesBarra">
            <img class="iconos" src="./../../../assets/productoVeganos.png" alt="">
        </button>
        
    </div>
</body>
</html>